@import "../../assets/styles/variables";

html,
body,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body * {
  box-sizing: border-box;
  font-family: Arial sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #000;
}

img {
  max-width: $absolute-width;
  width: auto;
}
