//Basic
$basic-font-color: #000;
$basic-font-size: 1.6rem;
$basic-font-family: 'Oswald', sans-serif;
$basic-letter-spacing: 0.2rem;
$default-white: #fff;
$header-footer-background: #fc0;
$header-footer-min-height: 90px;

//Header-logo
$header-logo-height: 65px;
$header-icon-height: 25px;
$header-logo-font-size: 45px;
$header-logo-padding: 115px;
$header-logo-title-top: -3px;
$header-logo-title-left: 86px;

//Sizes
$absolute-width: 100%;
$container-max-width: 1110px;
$margin-center: 0 auto;
